{% extends 'base.html' %}
{% block title %}Register{% endblock %}
{% block body %}
<form method="POST">
    {% csrf_token %}
    <label>Username:</label>
    <input type="text" name="uname"><br>
    <label>Password:</label>
    <input type="password" name="passw"  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
  title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters"><br>
    <label>Confirm password:</label>
    <input type="password" name="cpass"><br>
    <label>Phone number:</label>
    <input type="text" name="phno">
    <input type="submit" value="Register">
</form>
{% if messages %}
{% for message in messages %}
<div class="alert alert-danger" role="alert">
    {{message}}
</div>
{% endfor %}
{% endif %}
{% endblock %}
